/* 
    1366 X 778
    360 x 640 
    */

* {
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
}

.container{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: flex-start;
    background-color:rebeccapurple;
    height: 50px;
}

.container  .nav-left {
    width:600px;
    height: 100%;
    /* background-color: aquamarine; */
}

.container .nav-right {
    width:600px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.menu-depart > div{
    display: inline-block;
}

.item > ul {
    display: flex;
    align-items: center;
}

.item > ul > li:first-child{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
}

.item > ul > li:first-child a {
    text-align: center;
    line-height: 50px;
    padding: 0 15px 0 15px;
    margin: 0 5px 0 5px;
    color: #fff;
    transition: linear all 0.2s;
}

.item > ul:hover > li:first-child a{
    background-color: rgb(155, 89, 218);
}

.sub-menu {
    position: absolute;
    top: calc(100% + 10px);
    left: 0;
    width: 200px;
}

.sub-menu > ul::before{
    content: '';
    position: absolute;
    left: 50%;
    top: -0.7em;
    margin-left: -0.75em;
    border-bottom: solid 0.75em rgb(175, 122, 225);
    border-left: solid 0.75em rgba(64, 64, 64, 0);
    border-right: solid 0.75em rgba(64, 64, 64, 0);
}

.sub-menu > ul {
    display: none;
    background-color: rgb(155, 89, 218, 0.8);
    padding: 10px;
    border-radius: 10px;
}

/* nimação do submenu */
.item > ul:hover .sub-menu > ul{
    display: block;
    animation: fade-in 0.5s;
}

.item > ul:not(:hover) .sub-menu > ul.did-fade-in{
    display: block;
    animation: fade-out 0.5s;
}
/* ---- */

.sub-menu > ul li {
    color: #fff;
    display: flex;
}

.sub-menu > ul li a {
    color: #fff;
    width: 100%;
    transition: all linear 0.2s;
    padding: 5px;
}

.sub-menu > ul li a:hover{
    background-color: rgb(177, 136, 214);
}

.sub-menu > ul li a::before{
    content:'\2756  ';
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
  
@keyframes fade-out {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}